body {
  background-color: #F7F7F7;

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

::selection {
  background: $brand-primary;
  color: $brand-white;
}
::-moz-selection {
  background: $brand-primary;
  color: $brand-white;
}
