// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Responsive
$screen-lg-phone: 545px;

// Colors
$brand-primary:         #ff515b;
$brand-grey:            #1D1D1D;
$brand-white:           #fff;
$brand-black:           #000;
