
/* Featured article frontpage */
article.featured {
  height: 400px;
  background-size: cover;
}

article.featured {
  .inside-article {
    padding: 30px 0;
    .latest-podcast {
      color: $brand-primary;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    header {
      h2 {
        margin-top: 30px;
        a {
          color: $brand-white;
          font-size: 32px;
          letter-spacing: 1px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

article.featured {
  position: relative;
  .podcast-misc {
    background: rgba(0, 0, 0, 0.2);
    margin-top: 42px;
    padding: 35px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .podcast-desc {
      float: left;
      width: 49%;
      h4 {
        color: $brand-primary;
        margin-top: 0;
      }
      p {
        color: darken($brand-white, 20%);
      }
    }
    .btn-holder {
      text-align: right;
      .podcast-btn {
        margin-left: 20px;
        padding: 20px;
        color: $brand-white;
        background: $brand-primary;
        transition: (all, 0.3s, ease);
        &:hover {
          background: darken($brand-primary, 5%);
        }
      }
    }
  }
}

/* Audio player */

.podcast-player {
  margin-top: 50px;
}

/* Audio overwrites */

.podcast-player .mejs-container {
  &:active {
    outline: none;
  }
}

.podcast-player .mejs-container, .podcast-player .mejs-embed, .podcast-player .mejs-embed body, .podcast-player .mejs-container .mejs-controls {
  background: transparent;
}

.podcast-player .mejs-controls .mejs-time-rail .mejs-time-total, .podcast-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: rgba(0, 0, 0, 0.3);
  &:active {
    outline: none;
  }
}

.podcast-player .mejs-controls .mejs-time-rail .mejs-time-current,
.podcast-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: $brand-primary;
}

.podcast-player .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background:rgba(0, 0, 0, 0.8);
}


/* Articles list frontpage */

.article-list {
  margin: 50px auto;
  article {
    background-color: $brand-white;
    margin-bottom: 30px;
    .featured-image {
      float: left;
      width: 300px;
    }
    .inside-article {
      float: left;
      width: 840px;
      padding: 15px 15px 15px 25px;
    }
  }
}
