
/* Featured article frontpage */
article.featured {
  height: 400px;
  background-size: cover;
  @media (max-width: $screen-md-min) {
    height: auto;
  }
}

article.featured {
  .inside-article {
    padding: 30px 0;
    @media (max-width: $screen-lg-phone) {
      text-align: center;
    }
    .latest-podcast {
      color: $brand-primary;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      @media (max-width: $screen-lg-phone) {
        display: inline-block;
      }
    }
    header {
      h2 {
        margin-top: 30px;
        a {
          color: $brand-white;
          font-size: 32px;
          letter-spacing: 1px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

article.featured {
  position: relative;
  .podcast-misc {
    background: rgba(0, 0, 0, 0.2);
    padding: 35px;
    height: 170px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    @media (max-width: $screen-md-min) {
      height: auto;
    }
    .podcast-desc {
      float: left;
      width: 49%;
      @media (max-width: $screen-md-min) {
        width: 100%;
      }
      h4 {
        color: $brand-primary;
        margin-top: 0;
      }
      p {
        color: darken($brand-white, 20%);
        font-size: 16px;
      }
    }
    .btn-holder {
      float: right;
      margin-top: 22px;
      @media (max-width: $screen-lg-phone) {
        float: left;
        width: 100%;
      }
      .podcast-btn {
        margin-left: 20px;
        padding: 20px;
        color: $brand-white;
        background: $brand-primary;
        transition: (all, 0.3s, ease);
        &:hover {
          background: darken($brand-primary, 5%);
        }
        &:first-child {
          margin-left: 0;
        }
        @media (max-width: $screen-lg-phone) {
          width: 100%;
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Audio player */

.podcast-player {
  margin-top: 50px;
}

/* Audio overwrites */

.podcast-player .mejs-container {
  &:active {
    outline: none;
  }
}

.podcast-player .mejs-container, .podcast-player .mejs-embed, .podcast-player .mejs-embed body, .podcast-player .mejs-container .mejs-controls {
  background: transparent;
}

.podcast-player .mejs-controls .mejs-time-rail .mejs-time-total, .podcast-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: rgba(0, 0, 0, 0.3);
  &:active {
    outline: none;
  }
}

.podcast-player .mejs-controls .mejs-time-rail .mejs-time-current,
.podcast-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: $brand-primary;
}

.podcast-player .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background:rgba(0, 0, 0, 0.8);
}


/* Articles list frontpage */

.article-list {
  margin: 50px auto;
  article {
    background-color: $brand-white;
    margin-bottom: 30px;
    .featured-image {
      float: left;
      width: 300px;
      height: 200px;
      @media (max-width: $screen-lg-phone) {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
    .inside-article {
      float: left;
      padding: 15px 15px 15px 25px;
      width: 73%;
      @media (max-width: $screen-lg-min) {
        width: 68%;
      }
      @media (max-width: $screen-md-min) {
        width: 58%;
      }
      @media (max-width: $screen-sm-min) {
        width: 100%;
      }
      h2 {
        margin-top: 0;
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* Archive page */

.podcasts-archive {
  article {
    margin-bottom: 50px;
    .featured-image {
      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }
}
