/* Single Podcast */

.post-header {
  height: 400px;
  width: 100%;
  padding-top: 190px;
  .post-meta {
    span {
      color: $brand-primary;
      text-transform: uppercase;
      font-size: 18px;
    }
    h1 {
      margin-top: 10px;
      color: $brand-white;
      font-size: 35px;
    }
  }
  .podcast-player {
    margin-top: 20px;
  }
}

article.single-podcast {
  margin-top: 50px;
  p {
    font-size: 20px;
  }
  .disqus-comments {
    margin-top: 100px;
  }
}
